@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: rgb(203, 202, 204);
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: auto;
    background-image: url("photos/so-vibrant.jpg");
    background-size: 100%;
}
  
 header {
    background: rgb(152, 154, 156, 0.6);
    color: rgb(233, 227, 227); 
    margin: 8px;
    padding: 0px;
}

h1, h2 {
    margin-left: 1rem;  
}

img {
    float: top;
    width: 11rem;
    display: relative;
}
.navigation {
    background-color: rgb(152, 154, 156, 0.3);
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    
}

.links {
    display: inline-block;
    background: rgba(9, 12, 71, 0.212);
    color: white;
    margin-right: 0px;
    font-weight: bolder;
    padding: 5px;
    text-decoration: none;
}

.entity {

    margin: 8px;
    padding: 30px;
    background-image: url("photos/gray-background.jpg");
    z-index: -1;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-size: 100%;
}
.content-card {
    color: black !important;
    opacity: 1 !important;
    
}

.company {
    font-weight: bolder;
}

.position {
    font-style: italic;
}

li {
    width: 80%;
}

.fa {
    padding: 15px;
    font-size: 35px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #222222;
    color: white;
}