@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: rgb(203, 202, 204);
    font-family: 'Roboto', sans-serif;
    max-width: 960px;
    margin: auto;
    background-image: url("gray-background.jpg");
    background-size: 100%;
}
  
 header {
    background: none;
    color: rgb(233, 227, 227); 
    margin: 0px;
    padding: 0px;
}

h1 {
      margin-left: 1rem;
}

img {
    float: left;
    width: 11rem;
    padding: 10px;
    display: relative;

}
.navigation {
    background-color: rgb(152, 154, 156, 0.3);
    list-style-type: none;
    margin: 8px;
    padding: 8px;
}

.links {
    display: inline-block;
    background: rgba(9, 12, 71, 0.212);
    color: white;
    margin-right: 0px;
    font-weight: bolder;
    padding: 5px;
    text-decoration: none;
}

.entity {
    background:rgb(230, 223, 223, 0.5);
    border: 0.5px solid black;
    margin: 8px;
    padding: 30px;
}

.company {
      font-weight: bolder;
}

.position {
    font-style: italic;
}

li {
      width: 80%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}