@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 40px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(photos/gray-background.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #ccc;
    display: inline-block;
    color: black;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none; 
}

header.sticky ul li a {
    color: #111;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
    min-width: 300px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding: 15px;
    margin: 10px;
    background: rgba(160, 159, 159, 0.7);
}
.contentBx h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.about {
    position: relative;
    max-height: 90vh;
    background: url(photos/hiking.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    justify-content: space-between;
    flex-direction: column;
}

.w50 {
    max-width: 70%
}

.education {
    background: #111;
}

.heading.white {
    color: #fff;
}

.education .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.education .content .educationBx {
    padding: 40px 20px;
    background: rgb(83, 83, 83);
    color: #fff;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.education .content .educationBx:hover {
    background: rgb(63, 79, 85)
}

.education .content .educationBx img {
    max-width: 160px;
}

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 100%;
    background:rgb(83, 83, 85);
    padding: 20px;
    max-width: 1000px;
    margin: 20px;
    text-align: left;
    color: #fff;
}

.work .content .workBx ul {
    padding: 0 0 0 20px;
}

.contact {
    background: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3, 
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formbox form textarea {
    min-height: 200px;
}

.formBx form input::placeholder, 
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    max-width: 40%;
}

.contactInfoBx {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 800;
    color: #2196f3;
    padding-right: 10px;
    float: left;
}